.box {
  max-width: 50%;
  margin: 0 auto;
}
.c {
  color: white;
}
iframe {
  padding-top: 20px;
  width: 40%;
  height: 300px;
  border: none;
  margin: 0 auto;
}
.mapstyle{
  width: 100%;
  display: flex;
}
.shopinfo {
  margin-top: 30px;
  margin-left: -30px;
  list-style: none;
  .sitem {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-left: 8vw;
    dt {
      font-weight: bold;
      font-size: large;
    }
  }
}
@media screen and (max-width:600px){
  iframe{
    width: 80%;
  }
  .mapstyle{
    flex-direction: column;
  }
}
@media screen and (max-width: 1100px) {
  .shopinfo {
    .sitem {
      margin-left: 3vw;
    }
  }
}
@media screen and (max-width: 1000px) {
  .shopinfo {
    .sitem {
      margin-left: -2vw;
    }
  }
}
@media screen and (max-width: 900px) {
  .shopinfo {
    .sitem {
      margin-left: -4vw;
    }
  }
}
@media screen and (min-width: 1600px) {
  .shopinfo {
    .sitem {
      margin-left: 15vw;
    }
  }
}
