<!DOCTYPE html>
<html lang="ja">
  <head>
    {% block link %} {% include 'link.html' %} {% endblock %}
    <link rel="stylesheet" href="../static/css/top.css" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/inmenu.css" />
    <title>サラダ・菜</title>
  </head>
  {% block header %} {% include 'header.html' %} {% endblock %}
  <body>
    <div class="pankuzu">
      <ul>
        <li class="first">
          <i class="fa fa-home" aria-hidden="true"></i><a href="/">ホーム</a>
        </li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li><a href="/menu">メニュー</a></li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>サラダ・菜</li>
      </ul>
    </div>
    <div class="toppart">
      <p>MENU</p>
      <h2>サラダ・菜</h2>
    </div>
    <div class="container t">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/グリーンサラダ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />グリーンサラダ</h5>
              <h2 class="right">500円<span>(税込550円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/大根サラダ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />大根サラダ</h5>
              <h2 class="right">550円<span>(税込605円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/豆腐サラダ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />とうふサラダ</h5>
              <h2 class="right">550円<span>(税込605円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/巻き巻きレタス.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />巻き巻きレタス</h5>
              <h2 class="right">550円<span>(税込605円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/トマトスライス.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />トマトスライス</h5>
              <h2 class="right">490円<span>(税込539円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/焼野菜.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />焼野菜</h5>
              <h2 class="right">530円<span>(税込583円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ひめたけ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />綾ひめたけ盛</h5>
              <h2 class="right">550円<span>(税込605円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/キャベツ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />キャベツ</h5>
              <h2 class="right">320円<span>(税込352円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/たまねぎ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />タマネギ</h5>
              <h2 class="right">320円<span>(税込352円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/にんにく爆弾.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />にんにく爆弾</h5>
              <h2 class="right">550円<span>(税込605円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/キャベツ爆弾.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />キャベツ爆弾</h5>
              <h2 class="right">530円<span>(税込583円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ネギ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />ねぎ</h5>
              <h2 class="right">130円<span>(税込143円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/大根おろし.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />大根おろし</h5>
              <h2 class="right">130円<span>(税込143円)</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <a href="/menu" class="btn">
          <p>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            メニュー一覧に戻る
          </p>
        </a>
      </div>
    </div>
    <div class="pagetop">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
    <script src="../static/js/script.js">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
  {% block footer %} {% include 'footer.html'%} {% endblock %}
</html>
