<!DOCTYPE html>
<html lang="ja">
  <head>
    {% block link %} {% include 'link.html' %} {% endblock %}
    <link rel="stylesheet" href="../static/css/top.css" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/inmenu.css" />
    <link rel="stylesheet" href="../static/css/mojimenu.css">
    <title>アルコール</title>
  </head>
  {% block header %} {% include 'header.html' %} {% endblock %}
  <body>
    <div class="pankuzu">
      <ul>
        <li class="first">
          <i class="fa fa-home" aria-hidden="true"></i><a href="/">ホーム</a>
        </li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li><a href="/menu">メニュー</a></li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>アルコール</li>
      </ul>
    </div>
    <div class="toppart">
      <p>MENU</p>
      <h2>アルコール</h2>
    </div>
    <br>
    <div class="container t">
        <div class="menu-section">
            <h2>ビール</h2>
            <div class="menu-item">
                <span>アサヒスーパードライ</span>
                <span>大 820円<h5>(税込902円)</h5>中 520円<h5>(税込572円)</h5>小 360円<h5>(税込396円)</h5></span>
            </div>
            <div class="menu-item">
                <span>クリアサヒ</span>
                <span>大 720円<h5>(税込792円)</h5>中 420円<h5>(税込462)</h5></span>
            </div>
            <div class="menu-item">
                <span>アサヒスーパードライ(瓶)</span>
                <span>中 550円<h5>(税込605円)</h5></span>
            </div>
            <div class="menu-item">
                <span>キリン一番搾り(瓶)</span>
                <span>中 550円<h5>(税込605円)</h5></span>
            </div>
        </div>
        <div class="menu-section">
            <h2>ノンアルコール</h2>
            <div class="menu-item">
                <span>アサヒドライゼロ(瓶)</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
                <span>ノンアルハイボール</span>
                <span>400円<h5>(税込440円)</h5></span>
            </div>
            <div class="menu-item">
                <span>ノンアル梅サワー</span>
                <span>400円<h5>(税込440円)</h5></span>
            </div>
            <div class="menu-item">
                <span>ノンアルレモンサワー</span>
                <span>400円<h5>(税込440円)</h5></span>
            </div>
            <div class="menu-item">
                <span>ノンアル巨峰サワー</span>
                <span>400円<h5>(税込440円)</h5></span>
            </div>
        </div>
        <div class="menu-section">
            <h2>酎ハイ・カクテル</h2>
            <div class="menu-item">
                <span>梅サワー</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
                <span>レモンサワー</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
                <span>グレープフルーツサワー</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
                <span>カルピスサワー</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
                <span>ウーロンハイ</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
                <span>スクリュードライバー</span>
                <span>450円<h5>(税込495円)</h5></span>
            </div>
            <div class="menu-item">
              <span>モスコミュール</span>
              <span>450円<h5>(税込495円)</h5></span>
            </div>
          </div>
          <div class="menu-section">
              <h2>ウイスキー</h2>
            <div class="menu-item">
              <span>シーバス グラス</span>
              <span>600円<h5>(税込660円)</h5></span>
            </div>
            <div class="menu-item">
              <span>ハイボール(ブラックニッカ)</span>
              <span>大 900円<h5>(税込990円)</h5>中 500円<h5>(税込550円)</h5></span>
          </div>
        </div>
        <div class="menu-section">
          <h2>日本酒</h2>
          <div class="menu-item">
              <span>黒牛【和歌山≪純米酒≫】</span>
              <span>840円<h5>(税込924円)</h5></span>
          </div>
          <div class="menu-item">
              <span>越の寒中梅【新潟≪吟醸≫】</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
        </div>
        <div class="menu-section">
          <h2>果実酒</h2>
          <div class="menu-item">
              <span>杏露酒</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
          <div class="menu-item">
              <span>サンザシ酒</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
          <div class="menu-item">
              <span>ライチ酒</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
          <div class="menu-item">
              <span>自家製梅酒</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
        </div>
        <div class="menu-section">
          <h2>ワイン</h2>
          <div class="menu-item">
              <span>グラスワイン(赤or白)</span>
              <span>500円<h5>(税込550円)</h5></span>
          </div>
          <div class="menu-item">
              <span>スプリッツァー</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
          <div class="menu-item">
              <span>カリモーチョ</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
          <div class="menu-item">
              <span>カベルネソーヴィニヨン</span>
              <span>2300円<h5>(税込2,530円)</h5></span>
          </div>
          <div class="menu-item">
              <span>シャルドネ</span>
              <span>2,300円<h5>(税込2,530円)</h5></span>
          </div>
          <div class="menu-item">
              <span>スクリュードライバー</span>
              <span>450円<h5>(税込495円)</h5></span>
          </div>
        </div>
        <div class="menu-section">
          <h2>焼酎</h2>
          <div class="menu-item">
              <span>霧島(宮崎限定or黒)</span>
              <span>一合 450円<h5>(税込495円)</h5></h5>五合 2,150円<h5>(税込2,365円)</h5></span>
          </div>
          <div class="menu-item">
              <span>霧島(赤)</span>
              <span>一合 550円<h5>(税込605円)</h5></h5>五合 2,650円<h5>(税込2,915円)</h5></span>
          </div>
          <div class="menu-item">
              <span>日向木挽(白or黒)</span>
              <span>一合 450円<h5>(税込495円)</h5></h5>五合 2,150円<h5>(税込2,365円)</h5></span>
          </div>
          <div class="menu-item">
              <span>日向木挽(BLUE)</span>
              <span>一合 450円<h5>(税込495円)</h5></h5>五合 2,150円<h5>(税込2,365円)</h5></span>
          </div>
          <div class="menu-item">
              <span>天孫降臨</span>
              <span>一合 450円<h5>(税込495円)</h5>五合 2,150円<h5>(税込2,365円)</h5></span>
          </div>
          <div class="menu-item">
              <span>摩無志【日南】</span>
              <span>一合 700円<h5>(税込770円)</h5></span>
          </div>
          <div class="menu-item">
            <span>逢初【西都】</span>
            <span>一合 700円<h5>(税込770円)</h5>720ml 2,700円<h5>(税込2,970円)</h5></span>
          </div>
          <div class="menu-item">
            <span>月の中【西都】</span>
            <span>一合 700円<h5>(税込770円)</h5></span>
          </div>
        </div>
      <div class="box">
        <a href="/menu" class="btn">
          <p><i class="fa fa-angle-right" aria-hidden="true"></i> メニュー一覧に戻る</p>
        </a>
      </div>
    </div>
    <div class="pagetop">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
    <script src="../static/js/script.js">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
  {% block footer %} {% include 'footer.html'%} {% endblock %}
</html>