<!DOCTYPE html>
<html lang="ja">
  <head>
    {% block link %} {% include 'link.html' %} {% endblock %}
    <link rel="stylesheet" href="../static/css/top.css" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/inmenu.css" />
    <title>牛焼肉</title>
  </head>
  {% block header %} {% include 'header.html' %} {% endblock %}
  <body>
    <div class="pankuzu">
      <ul>
        <li class="first">
          <i class="fa fa-home" aria-hidden="true"></i><a href="/">ホーム</a>
        </li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li><a href="/menu">メニュー</a></li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>牛焼肉</li>
      </ul>
    </div>
    <div class="toppart">
      <p>MENU</p>
      <h2>牛焼肉</h2>
    </div>
    <div class="container t">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/カルビ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />パイン牛カルビ</h5>
              <h2 class="right">1,030円<span>(税込1,133円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ハラミ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />パイン牛ハラミ</h5>
              <h2 class="right">1,030円<span>(税込1,133円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ロース.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />パイン牛ロース</h5>
              <h2 class="right">1,260円<span>(税込1,386円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ヒレ焼肉.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />ヒレ焼肉</h5>
              <h2 class="right">1,370円<span>(税込1,507円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/牛タン.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />牛タン塩</h5>
              <h2 class="right">1,030円<span>(税込1,133円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ネギタン塩.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />ねぎタン塩</h5>
              <h2 class="right">1,130円<span>(税込1,243円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/タンゲタ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />タンゲタ塩</h5>
              <h2 class="right">720円<span>(税込792円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/ツラミ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />ツラミ</h5>
              <h2 class="right">710円<span>(税込781円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/中落カルビ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />中落カルビ</h5>
              <h2 class="right">770円<span>(税込847円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/コリコリカルビ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />コリコリカルビ</h5>
              <h2 class="right">610円<span>(税込671円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/テール焼.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />テール焼</h5>
              <h2 class="right">600円<span>(税込660円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/激辛カルビ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />激辛カルビ</h5>
              <h2 class="right">1,180円<span>(税込1,298円)</span></h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card custom-card">
            <img src="../static/img/激辛ハラミ.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-titles"><br />激辛牛ハラミ</h5>
              <h2 class="right">1,180円<span>(税込1,298円)</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <a href="/menu" class="btn">
          <p>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            メニュー一覧に戻る
          </p>
        </a>
      </div>
    </div>
    <div class="pagetop">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
    <script src="../static/js/script.js">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
  {% block footer %} {% include 'footer.html'%} {% endblock %}
</html>
