<footer class="text-center text-lg-start text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/" class="text-white">ホーム</a>
          </li>
          <li>
            <a href="/menu" class="text-white">メニュー</a>
          </li>
          <li>
            <a href="/seats" class="text-white">お席</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/access" class="text-white">店舗情報</a>
          </li>
          <li>
            <a href="/access" class="text-white">営業時間</a>
          </li>
          <li>
            <a href="/access" class="text-white">電話番号</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://okazaki-bokujyo.co.jp/" class="text-white"
              >(株)岡崎牧場</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E5%B2%A1%E5%B4%8E%E7%89%A7%E5%A0%B4/100046479797772/?_rdr"
              class="text-white"
              >フェイスブック</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/okazakibokujoh/reels/"
              class="text-white"
              >インスタグラム</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-md-0">
        <h5 class="text-uppercase">
          <a href="https://okazaki-bokujyo.co.jp/">
            <img src="../static/img/title.png" />
          </a>
        </h5>
        <p>
          本社：〒880-0834 宮崎県宮崎市新別府町雀田1185番地<br />
          (宮崎市中央卸売市場内)<br />
          ＴＥＬ：0985-25-0577<br />
          営業時間:ＡＭ11:30～ＰＭ15:00/ＰＭ17:00～ＰＭ10:00<br />
          定休日:火曜日
        </p>
      </div>
    </div>
    <div class="text-center p-2">
      Copyright © 2024
      <a class="text-white" href="https://okazaki-bokujyo.co.jp/"
        >Okazaki Bokujo.
      </a>
      All rights Reserved.
    </div>
  </div>
</footer>
