<header>
  <div class="top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
      <div class="container">
        <div class="imga">
          <a href="/">
            <img
              src="../static/img/htitle.png"
              width="50%"
              height="50%"
              class="py-sm-0"
              alt="岡崎牧場焼肉店タイトル"
            />
          </a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><i class="fa fa-caret-right" aria-hidden="true"></i>
                ホーム<br />
                <h5>HOME</h5></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu"
                ><i class="fa fa-caret-right" aria-hidden="true"></i>
                メニュー<br />
                <h5>MENU</h5></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seats"
                ><i class="fa fa-caret-right" aria-hidden="true"></i> お席<br />
                <h5 class="line">SEATS</h5></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/access"
                ><i class="fa fa-caret-right" aria-hidden="true"></i>
                アクセス<br />
                <h5>ACCESS</h5>
              </a>
            </li>
            <ul class="navbar-nav ms-auto custom-ul">
              <li class="nav-item custom-nav">
                <a
                  class="custom-link"
                  href="https://m.facebook.com/people/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E5%B2%A1%E5%B4%8E%E7%89%A7%E5%A0%B4/100046479797772/"
                >
                  <i
                    class="fa fa-facebook-official fa-2x"
                    aria-hidden="true"
                  ></i>
                </a>
                <a
                  class="custom-link"
                  href="https://www.instagram.com/okazakibokujoh/reels/"
                  ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
